##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Service"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;

import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;
import java.util.Optional;
import java.util.List;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表服务接口
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {


    // --------------------------------------  查  --------------------------------------
    /**
     * 通过主键$!{pk.name}查询单条数据
     *
     * @param $!pk.name 主键
     * @return 实例对象
     */
    Optional<$!{tableInfo.name}> findBy$!{tool.firstUpperCase($!{pk.name})}($!{pk.shortType} $!{pk.name});


    /**
     * 不分页查询所有数据
     *
     * @return 所有数据
     */
    List<$!{tableInfo.name}> findAll(Sort sort);


    /**
     * 通过分页查询多条数据
     *
     * @param  pageable 分页
     * @return 分页数据
     */
    Page<$!{tableInfo.name}> findByPage(Pageable pageable);

    #if(${tableInfo.name.indexOf("Table")}!=-1)
/**
     * 通过 idcard_stu：身份证号 查询单条数据
     *
     * @param idCard 身份证号
     * @return 实例对象
     */
    Optional<$!{tableInfo.name}> findByIdCard(String idCard);
    #end

    #if(${tableInfo.name.indexOf("Table")}!=-1)
/**
     * 通过 stu_id：学号 查询单条数据
     *
     * @param stuId 学号
     * @return 实例对象
     */
    Optional<$!{tableInfo.name}> findByStuId(String stuId);
    #end


    // --------------------------------------  增  --------------------------------------
    /**
     * 保存单个对象
     *
     * @return 保存后的对象
     */
    $!{tableInfo.name} saveOne($!{tableInfo.name} $!{tool.firstLowerCase($tableInfo.name)});


    // --------------------------------------  改  --------------------------------------
    /**
     * 通过obj更新单个对象
     *
     * @return 保存后的对象
     */
    $!{tableInfo.name} updateByObj($!{tableInfo.name} $!{tool.firstLowerCase($tableInfo.name)});


    // --------------------------------------  删  --------------------------------------
    /**
     * 通过主键$!{pk.name}删除单条数据
     *
     * @param $!{pk.name} 主键
     */
    void deleteBy$!{tool.firstUpperCase($!{pk.name})}($!{pk.shortType} $!{pk.name});
}
